*,
*::before,
*::after {
  box-sizing: border-box;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-img-map {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.carousel-container {
  max-width: 1200px;
  width: 100%;
  aspect-ratio: 10 / 6;
  margin: 0 auto;
}

.img-slider-img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 300ms ease-in-out;
}

.slider-btn {
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 100ms ease-out;
}

.slider-btn-left {
  left: 0;
}

.slider-btn-right {
  right: 0;
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider-btn > * {
  stroke: white;
  fill: black;
  width: 2rem;
  height: 2rem;
}

.slider-btn:hover > * {
  animation: squish 200ms ease-in-out;
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}

.img-slider-dot {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  translate: -50%;
  display: flex;
  gap: 0.25rem;
}

.img-slider-dot-btn {
  all: unset;
  display: block;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  transition: scale 100ms ease-in-out;
}

.img-slider-dot-btn:hover {
  scale: 1.2;
}

.img-slider-dot-btn > * {
  stroke: white;
  fill: black;
  height: 100%;
  width: 100;
}
