*,
*::before,
*::after {
  box-sizing: border-box;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-container {
  max-width: 1200px;
  width: 100%;
  aspect-ratio: 10 / 6;
  margin: 0 auto;
}

.img-slider {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.slider-btn {
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
}

.slider-btn-left {
  left: 0;
}

.slider-btn-right {
  right: 0;
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.slider-btn > * {
  stroke: white;
  fill: black;
  width: 2rem;
  height: 2rem;
}
